/* Color 颜色设置区域
-------------------------- */
/// color|1|Brand Color|0
$--color-primary: #409EFF !default;
/// color|1|Background Color|4
$--color-white: #FFFFFF !default;
/// color|1|Background Color|4
$--color-black: #000000 !default;

$theme-1-hex: #6F9ABF;
$theme-2-hex: #F2CA80;
$theme-3-hex: #F2DABD;
$theme-4-hex: #8C5042;
$theme-5-hex: #F26B5E;

$title-color: #333;
$detail-color: #999;
$header-color: $theme-4-hex;

$main-bg: rgba($theme-3-hex,0.15);

:export{
  theme-1-hex:$theme-1-hex;
  theme-2-hex:$theme-2-hex;
  theme-3-hex:$theme-3-hex;
  theme-4-hex:$theme-4-hex;
  theme-5-hex:$theme-5-hex;
  selected-bg: rgba($theme-1-hex,0.45);
  map-bg:rgba($theme-1-hex,0.25);
  map-emphasis-bg:rgba($theme-1-hex,0.55);
}


/* Color Theme Swatches in RGBA */
// $一个人旅行-1-rgba: rgba(110,153,191, 1);
// $一个人旅行-2-rgba: rgba(242,202,128, 1);
// $一个人旅行-3-rgba: rgba(242,218,188, 1);
// $一个人旅行-4-rgba: rgba(140,79,65, 1);
// $一个人旅行-5-rgba: rgba(242,106,94, 1);

/// color|1|Functional Color|1
$--color-success: #67C23A !default;
/// color|1|Functional Color|1
$--color-warning: #E6A23C !default;
/// color|1|Functional Color|1
$--color-danger: #F56C6C !default;
/// color|1|Functional Color|1
$--color-info: #909399 !default;
/// color|1|Functional Color|1
$--color-title: #606266 !default;

$--color-success-light: mix($--color-white, $--color-success, 80%) !default;
$--color-warning-light: mix($--color-white, $--color-warning, 80%) !default;
$--color-danger-light: mix($--color-white, $--color-danger, 80%) !default;
$--color-info-light: mix($--color-white, $--color-info, 80%) !default;

$--color-success-lighter: mix($--color-white, $--color-success, 90%) !default;
$--color-warning-lighter: mix($--color-white, $--color-warning, 90%) !default;
$--color-danger-lighter: mix($--color-white, $--color-danger, 90%) !default;
$--color-info-lighter: mix($--color-white, $--color-info, 90%) !default;
/// color|1|Font Color|2
$--color-text-primary: #303133 !default;
/// color|1|Font Color|2
$--color-text-regular: #606266 !default;
/// color|1|Font Color|2
$--color-text-secondary: #909399 !default;
/// color|1|Font Color|2
$--color-text-placeholder: #C0C4CC !default;
/// color|1|Border Color|3
$--border-color-base: #DCDFE6 !default;
/// color|1|Border Color|3
$--border-color-light: #E4E7ED !default;
/// color|1|Border Color|3
$--border-color-lighter: #EBEEF5 !default;
/// color|1|Border Color|3
$--border-color-extra-light: #F2F6FC !default;

// Background
/// color|1|Background Color|4
$--background-color-base: #F5F7FA !default;

// 间距
// 区块间隔定义
// 大的内容区块之间间距
$--gutter-content: 24px;
// 段落间间距
$--gutter-paragraph: 16px;
// 行内间距
$--gutter-line: 8px;

